@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar a {
    font-weight: 500;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.4;
    background-color: #fff;
}

.gallery-image_link {
    text-decoration: none;
}

.h2-line {
    position: relative;
}

.h2-line::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    opacity: 50%;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}